---
layout: home
---

<div id="home" class="container-fluid">
  <header>
    {% include header.html %}
  </header>
  <div class="row">
    <div class = "profilepic col-sm-6 col-md-5 col-xs-12">
      <img src="images/home/dp.jpg" alt="" class="src">
    </div>
    <div class = "col-sm-6 col-md-7 col-xs-12">
      <h1>hello,</h1>
      <p class = "about-me">a bit about me:</p>
      <button class = "my-list resume wow fadeIn" data-wow-duration="3s" data-wow-delay="0s">my resume</button>
      <button class = "my-list work wow fadeIn" data-wow-duration="3s" data-wow-delay="0s">my work</button>
      <button class = "my-list skills wow fadeIn" data-wow-duration="3s" data-wow-delay="0s">my skills</button>
      <p class = "lorem">Lorem ipsum dolor nostrum sit amet,<br> consectetur quam adipisicing elit. Nulla at,<br> aperiam harum modi commodi <br>iste in ducimus nam, necessitatibus suscipit quo debitis,<br> ab omnis recusandae vero repellendus! Unde!</p>
    </div>
  </div>
  <div class = "row">
   <footer>
     {% include footer.html %}
   </footer>
  </div>
</div>


