<div class = "footer col-xs-12">
<h3 class="ping">ping me on!</h3>
<div id = "links">
  <a href="https://github.com/shruti2809" class="social_links"><i class="fa fa-github"></i></a>
  <span id="divider"></span>
  <a href="https://www.facebook.com/shruti2809" class="social_links"><i class="fa fa-facebook"></i>
  </a>
  <span id="divider"></span>
  <a href="http://linkedin.com/in/rohitreddydega/" class="social_links"><i class="fa fa-linkedin"></i></a>
  <span id="divider"></span>
  <a href="http://twitter.com/shruti2809/" class="social_links"><i class="fa fa-twitter"></i></a>
  </div>
</div>