<div class = "footer col-xs-12">
      <div class = "front-icons col-xs-1"><i class="fa fa-phone-square"></i></div>
      <div class = "footer-contact col-xs-3"><p>call</p>mobile: 987654321</div>
      <div class = "front-icons col-xs-1"><i class="fa fa-envelope-square fa-3x"></i></div>
      <div class = "footer-contact col-xs-3"><p>contact</p>shruti2809@gmail.com</div>
      <div class = "front-icons col-xs-1"><i class="fa fa-plus-square fa-3x"></i></div>
      <div class = "footer-contact follow-icons col-xs-3"><p>follow on</p>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-google-plus"></i>
      </div>
    </div>