html, body {
  font-family: 'Poiret One', cursive;
}

body {
  position: relative;
  width: 100%;
  background-color: $primary-color;
  
  .header {
    position: relative;
    top: 0;
    width: 100%;
    border-bottom: 3px solid #4D4D4D;

    #myname > a {
      font-size: 4em;
      text-decoration: none;
      width: 100%;
      padding-left: 40px;
      font-weight: 600;
      color: $secondary-color;
    }

    #job > div >  a {
      font-size: 2.5em;
      text-decoration: none;
      padding-left: 15px;
      color: $secondary-color;
    }

    a {
      padding-top: 40px;
      padding-right: 1em;
      padding-left: 1em;
      font-size: 1.8em;
      text-decoration: none;
      color: $tertiary-color;
    }
  }

  .footer {
    overflow: hidden;
    width: 100%;
    height: 15vh;
    background-color: $tertiary-color;
    font-size: 1.8vw;
    text-align: center;

    .ping {
      font-weight: 500;
      text-align: center;
    }

   /*  #links{
     padding-left: 42vw;
   } */

    .social_links {
      text-align: center;
      text-decoration: none;
      color: black;
      font-size: 1.2em;
      padding-bottom: 2em;
    }

    #divider {
      border-right: 1px solid #000000;
      margin-right: 15px;
      padding-right: 10px;
    }
  }
}

h1.page-title {
  font-size: 3.5em;
  font-weight: 800;
  color: #4D4D4D;
  text-align: center;
}

