#work {

  .project-number {
    border: none;
    outline:none;
    border-radius: 100%;
    height: 16vh;
    width: 16vh;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1.5em;
    margin-bottom: 2.5vh;  
  }

  button.project-number.first-project {
    background-color: $secondary-color;
    font-size: 2.6vh;
    font-weight: 800;
  }

  button.project-number.second-project {
    background-color: $tertiary-color;
    font-size: 2.6vh;
    font-weight: 800;
  }

  button.project-number.third-project {
    background-color: $secondary-color;
    font-size: 2.6vh;
    font-weight: 800;
  }

  .title {
    border-top: 1px solid #4d4d4d;
  }

  .project {
    border-bottom: 1px solid #4d4d4d;
  }

  .empty {
    height: 5vh;
  }

  .calculator img {
    padding: 6vh;
    width: 100%;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }

  .psd img {
    padding: 6vh 5vh;
    width: 100%;
  }

  .imagepuzzle {
    padding: 6vh 5vh;
  }
  .project {
    position: relative;
 }

 .project_onhover {
    visibility: hidden;
    position: absolute;
    top: 40px;
    left:30px;
    bottom: 40px;
    right: 60px;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    background-color: rgba(25, 181, 254, 0.7);
    border-radius: 8px;

 }

 .project:hover .project_onhover {
    visibility: visible;
    display: block;
    transform: scale(0.8);
    top:0px;
 }

 .project:hover img {
   opacity: 0;
   width: 100%;
 }

 .hover-button {
  border: none;
  padding: 1vh;
  width: 20%;
  margin: 20vh 10vh;
  border-radius: 4px;
  background-color: rgba(253, 104, 91, 0.9);
  color: #ffffff;
  font-size: 2vh;
  font-weight: 600;
 }
}
